<div class="card dashboard-card{{#classes}} {{.}}{{/classes}}"
     role="listitem"
     aria-labelledby="section-{{num}}-title"
     data-sectionid="{{num}}"
     data-sectionreturnid="{{sectionreturnid}}"
     data-for="section"
     data-id="{{id}}"
     data-number="{{num}}">

    <div class="card-main-content">
        {{#header}}
            <a href="{{{url}}}" title="{{{name}}}">
                <div class="card-img-top"
                     role="presentation"
                     {{#image}}style="background: url('{{{image}}}') center/cover"{{/image}}>
                </div>
                <div class="card-overlay">
                    <div class="card-header-fade"></div>
                    <div class="card-header">
                        {{$ core_courseformat/local/content/section/badges }}
                            {{> core_courseformat/local/content/section/badges }}
                        {{/ core_courseformat/local/content/section/badges }}
                        <h3 id="section-{{num}}-title"
                            class="card-title">
                            {{{name}}}
                        </h3>
                        {{#summary}}
                            {{#summarytext}}
                                <span class="summary">
                                    {{{summarytext}}}
                                </span>
                            {{/summarytext}}
                        {{/summary}}
                    </div>
                </div>
            </a>
        {{/header}}
    </div>

    {{#availability}}
        {{#hasavailability}}
            <div class="card-footer small">
                {{$ core_courseformat/local/content/section/availability }}
                    {{> core_courseformat/local/content/section/availability }}
                {{/ core_courseformat/local/content/section/availability }}
            </div>
        {{/hasavailability}}
    {{/availability}}

</div>